{% load staticfiles %}

{% include 'common/header.html' %}
{% include 'common/navbar.html' %}
<h2>Attendance</h2>

<div class="row">
        <div class="col s12 m4 offset-m4">
          <div class="card white darken-3">
            <div class="card-content">
              <h3 class="card-title">Upload Attendance Sheet</h3>
              <div class="row"></div>
             <form action="/attendance/" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.non_field_errors }}</p>
            <p>{{ form.attendancesheet.label_tag }} {{ form.attendancesheet.help_text }}</p>

            <p>
                {{ form.attendancesheet.errors }}
               {{ form.attendancesheet}}
            </p>
            <div class="card-action">
            <p><input type="submit" value="Upload" /></p></div>
        </form>
            </div>
           
          </div>
        </div>
      </div>-->
            

    {% include 'common/footer.html' %}  