{% load staticfiles %}

{% include 'common/header.html' %}
{% include 'common/navbar.html' %}

<h3>Student Profile of ID 20</h3>
{% if testset %}

<div class="container">
<h4>Test Score</h4>
<table class="bordered">
<thead>
          <tr>
              <th data-field="id">Test No.</th>
              <th data-field="name">Test Score</th>
              
          </tr>
        </thead>
{% for i in testset %}

<tr>
		<td>{{i.test_no}}</td><td>{{i.stud_score}}</td>
		</tr>

{% endfor %}
</table>
</div>
{% endif %}

<div class="container">
{% if atttest %}
<h4> Total Attendance : {{count}}</h4>
{% endif %}
</div>



 {% include 'common/footer.html' %}